@model Polling.Models.Item

<div class="form-group">
    @Html.LabelFor(m => m.Name, "Item Name")
    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Name)
</div>